* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  background-color: #263d54;
  color: white;
  font-family: monospace; }

header {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  text-align: center;
  height: auto;
  width: auto;
  background-color: #bf1b27; }

footer {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  text-align: center;
  height: auto;
  width: auto;
  background-color: #bf1b27;
  flex-direction: column;
  flex-wrap: wrap; }

section {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  background-color: #bf1b27;
  border-radius: 10px; }

table {
  background-color: white;
  border-radius: 5px;
  color: black; }

th, tr, td {
  padding: 1px 1px 1px 1px;
  border-style: solid;
  border-width: 2px;
  border-color: #263d54;
  border-radius: 3px;
  text-align: center; }

input {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  padding: 0;
  width: 150px;
  height: 25px;
  border-style: none;
  text-align: center; }

a {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  color: white; }

/*Clases*/
.divSeccionPrincipal{
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 10px;
  justify-content: space-between;
  height: auto;
  width: auto;
}

.calculadora {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  background-color: #bf1b27;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%; }

.boton {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  color: bisque;
  background-color: #263d54;
  cursor: pointer; }

.navBar {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  list-style-type: none;
  justify-content: space-evenly;
  display: flex; }
  .navBar ul {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px; }
    .navBar ul li {
      margin: 5px 5px 5px 5px;
      padding: 5px 5px 5px 5px; }

.cuadroSeleccion {
  width: 200px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px; }

.classNavegacion {
  display: flex;
  justify-content: space-evenly; }

.classPreSeccion {
  display: flex;
  justify-content: left;
  align-items: center; }

.classInfoPrincipal {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: auto;
  align-items: center; }

.aside {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  height: 200px;
  width: auto;
  overflow-y: scroll;
  text-align: justify;
  display: inline-block;
  background-color: #bf1b27;
  border-radius: 10px; }
  .aside h3 {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px; }
  .aside h4 {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px; }
  .aside p {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px; }
  .aside li {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    list-style-type: none; }

.classPosSeccion {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.classPie {
  display: flex;
  justify-content: space-evenly; }
